.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 0;
  padding: 0 1.5rem;
}
.text-right {
  text-align: right;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}
.align-center {
  align-items: center;
}

.column-full,
.column-half {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}
