body {
  background-color: #f0f0f0;
  font-family: sans-serif;
}

header {
  background-color: #562b81;
  height: 5rem;
}

h1 {
  font-family: 'Proza Libre', sans-serif;
}

a {
  font-size: 0.6rem;
  padding-left: 1rem;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 2rem;
}

p {
  font-weight: normal;
  line-height: 1.5;
  max-height: 14rem;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
}

form {
  font-family: 'Proza Libre', sans-serif;
}

button {
  font-family: 'Proza Libre', sans-serif;
  background-color: #562b81;
  transition: background-color 0.1s;
  border: 0;
  color: white;
  width: 3rem;
  height: 2rem;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #240047;
}

button:hover {
  background-color: #5e3983;
}

button:active {
  background-color: rgb(138, 38, 138);
  box-shadow: 1px 1px 1px #240047;
  transform: translateY(1px);
}

.delete-target {
  color: red;
  text-decoration: underline;
  font-size: 1rem;
  padding: 0;
}

.delete-button {
  width: 8rem;
  background-color: #c41903;
  color: white;
}

.delete-button:active,
.delete-button:hover {
  background-color: #ff6b57;
  color: black;
}

.cancel-button {
  width: 8rem;
  background-color: grey;
  color: black;
}

.cancel-button:active,
.cancel-button:hover {
  background-color: #c7c7c7;
}

input {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid grey;
  border-radius: 3px;
  height: 2rem;
  width: 100%;
  transition: box-shadow 0.3s;
}

input:focus {
  box-shadow: 0 0 10px #4d0099;
}

textarea {
  border-radius: 5px;
  border: 1px solid grey;
  margin-top: 1.5rem;
  width: 100%;
  resize: none;
  margin-bottom: 1rem;
  transition: box-shadow 0.3s;
}

textarea:focus {
  box-shadow: 0 0 10px #4d0099;
}

li h1 {
  margin: 0;
  padding: 0;
}

header h1 {
  font-weight: normal;
  font-size: 2em;
  font-family: 'Proza Libre', sans-serif;
  color: white;
}

form h1 {
  padding-bottom: 10px;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.562);
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 1px -1px 100px black;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 200px;
  margin-top: 15%;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: normal;
}

.textbox {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 2rem;
}

.image-container {
  border-radius: 6px;
  width: 100%;
  height: 20rem;
}

.image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  box-shadow: 0 1 15px 1px;
  border-radius: 5px;
}

.icon {
  width: 2rem;
  height: 2rem;
  transition: transform 0.5s;
}

.icon:hover {
  transform: scale(120%);
}

.form-image {
  box-shadow: 0;
}

.header-container h1 {
  padding: 0;
  margin: 0;
}

.header-container {
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.container {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.filter-box {
  font-family: 'Proza Libre', sans-serif;
  width: 100%;
  height: 100%;
  background-color: rgb(233, 233, 233);
  border: 1px solid rgb(119, 119, 119);
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.filter-box input {
  padding: 0.5rem;
  margin: 0;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.row-reverse {
  flex-direction: row-reverse;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.padding-right-27px {
  padding-right: 27px;
}

.margin-top-2rem {
  margin-top: 2rem;
}

.margin-2rem {
  margin: 2rem;
}

@media screen and (max-width: 768px) {
  .form-image-container {
    height: 20rem;
  }

  .header-container h1 {
    padding: 0;
    margin: 0;
    margin-left: 0;
  }

  a {
    padding-left: 20px;
  }

  .mobile-margin {
    margin-top: 2rem;
  }

  .modal-container {
    margin-top: 50%;
  }

  .mobile-center {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  button {
    width: 6rem;
    height: 3rem;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #240047;
  }

  .padding-right-27px {
    padding-right: 17px;
  }
}
