body {
  font-family: 'Proza Libre', sans-serif;
  background-color: #f0f0f0;
  font-weight: 600;
}

.textbox {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 2rem;
}

form {
  font-family: 'Proza Libre', sans-serif;
}

form button {
  font-family: 'Proza Libre', sans-serif;
  background-color: #562b81;
  border: 0px;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 5px;
  margin-top: 1rem;
}

input {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid grey;
  border-radius: 3px;
  height: 2rem;
  width: 100%;
}

textarea {
  margin-top: 1.5rem;
  width: 100%;
}


.form-image-container {
  overflow: hidden;
  border-radius: 6px;
  width: 100%;
  height: 25rem;
}

.form-image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding-bottom: 2rem;
}

.header-container h1{
  padding: 0;
  margin: 0;
  margin-left: 1.5rem;
}

.textbox-notes {
  height: 6rem;
  resize: none;
}

header {
  background-color: #562b81;
  height: 5rem;
}

.header-container {
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
}

header h1 {
  font-weight: normal;
  font-size: 2em;
  font-family: 'Proza Libre', sans-serif;
  color: white;
}

form h1 {
  padding-bottom: 10px;
}

.container {
  margin: 0;
  padding: 20px;
}

body { 
  margin-top: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.text-right {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .form-image-container {
    height: 20rem;
  }
  .header-container h1{
    padding: 0;
    margin: 0;
    margin-left: 0;
  }
}
