body { 
  background-color: #f0f0f0;
  font-family: sans-serif;
}

header {
  background-color: #562b81;
  height: 5rem;
}

h1 {
  font-family: 'Proza Libre', sans-serif;
}

a {
  font-size: 0.6rem;
  padding-left: 1rem;
}

ul{
  margin: 0px;
  padding: 0px;
}

li {
  margin-bottom: 2rem;
}

p {
  font-weight: normal;
  line-height: 1.5;
  max-height: 14rem;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
}

form {
  font-family: 'Proza Libre', sans-serif;
}

button {
  font-family: 'Proza Libre', sans-serif;
  background-color: #562b81;
  transition: background-color 0.1s;
  border: 0px;
  color: white;
  width: 3rem;
  height: 2rem;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #240047;
}

button:hover {
  background-color: #5e3983;
}

button:active {
  background-color: rgb(138, 38, 138);
  box-shadow: 1px 1px 1px #240047;
  transform: translateY(1px);
}

input {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid grey;
  border-radius: 3px;
  height: 2rem;
  width: 100%;
  transition: box-shadow 0.3s;
}

input:focus {
  box-shadow: 0px 0px 10px #4d0099;
}

textarea:focus {
  box-shadow: 0px 0px 10px #4d0099;
}

textarea {
  border-radius: 5px;
  border: 1px solid grey;
  margin-top: 1.5rem;
  width: 100%;
  resize: none;
  margin-bottom: 1rem;
  transition: box-shadow 0.3s; 
}

li h1 {
  margin: 0px;
  padding: 0px;
}

header h1 {
  font-weight: normal;
  font-size: 2em;
  font-family: 'Proza Libre', sans-serif;
  color: white;
}

form h1 {
  padding-bottom: 10px;
}

.textbox {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 2rem;
}

.image-container {
  border-radius: 6px;
  width: 100%;
  height: 20rem;
}

.image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  box-shadow: 0px 1px 15px 1px;
  border-radius: 5px;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.form-image {
  box-shadow: 0;
}

.header-container h1{
  padding: 0;
  margin: 0;
}

.header-container {
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
}

.container {
  margin: 0;
  padding: 20px;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.margin-top-2rem {
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .form-image-container {
    height: 20rem;
  }
  .header-container h1{
    padding: 0;
    margin: 0;
    margin-left: 0;
  }
  a {
    padding-left: 20px;
  }

  .mobile-margin {
    margin-top: 2rem;
  }
}
